#options {
	background-color: #3399ff;
	width: all;
	height: 80px;
	line-height: 80px;
	vertical-align: middle;
}

#title {
	font-family: sans-serif;
	color: white;
	margin-left: 50px;
}

#last_scramble {
	margin-top: 12px;
	margin-left: 500px;
	position: fixed;
}

#use_inspection {
	margin-top: 12px;
	margin-left: 400px;
	position: fixed;
}

#selectedEvent {
	margin-top: 12px;
	margin-left: 600px;
	position: fixed;
}

#plus_two {
	margin-top: 12px;
	margin-left: 700px;
	position: fixed;
}

#DNF {
	margin-top: 12px;
	margin-left: 740px;
	position: fixed;
}

#output {
	width: 200px;
	height: 50px;
	border: #666;
	font-size: 40px;
	font-family: sans-serif;
	text-align: center;
	margin: auto;
	margin-top: 100px;
	vertical-align: middle;
}

#times_list {
	margin-left: 800px;
	margin-top: -100px;
	width: 250px;
}

#reset {
	width: 100px;
	margin-left: 958px;
}

#stats {
	font-family: sans-serif;
	margin-left: 200px;
	margin-top: -100px;
}

#scrambleText {
	font-family: sans-serif;
	text-align: center;
	float: left;
	margin-top: 50px;
	margin-left: 450px;
}

#lastScrambleText {
	font-family: sans-serif;
	text-align: center;
	float: left;
	margin-top: -5px;
	margin-left: 450px;
}
